<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    	
    	<!-- default-init-method="init"
    	default-destroy-method="destroy" -->

<!--    <bean id="HelloWorld" class="com.tutorialspoint.HelloWorld" scope="prototype">
       <property name="message" value="Hello World!"/>
   </bean> -->
   
<!-- 
    <bean id="HelloWorld" class="com.tutorialspoint.HelloWorld" init-method ="init" destroy-method="destroy">
       <property name="message" value="Hello World!"/> -->

    <bean id="HelloWorld" class="com.tutorialspoint.HelloWorld">
       <property name="message" value="Hello World!"/>
       <property name="message1" value="Hello Second World!"/>
   </bean>
   
   <bean id="HelloIndia" class="com.tutorialspoint.HelloIndia" parent="HelloWorld">
   		<property name="message" value="Hello India!"/>
   		<property name="message2" value="Hello Third India!"/>
   </bean>
   
   
   <!-- BeanPostProcessor -->
   <!-- <bean class="com.tutorialspoint.BeanPostProcessorTest"></bean> -->
   
   

</beans>